<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}QuizBuzz{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
					<li><a href="{{ url_for('create_quiz') }}">Create Quiz</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if message %}
			<ul>
				{% for category, message in messages %}
				<li class="{{ categor }}">{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}

			{% block content %}{% endblock %}
		</main>
		</main>
		<footer>
			<p>&copy; 2024 QuizBuzz. All rights reserved.</p>
		</footer>
	</body>
</html>
