<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard | AgriSmart{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<h2>Your Listings</h2>
<ul>
    {% for listing in data.listings %}
    <li>
        <h2>{{ listing.item_name }}</h2>
        <p><strong>Price:</strong> {{ listing.price }}</p>
        <p><strong>Description:</strong> {{ listing.description }}</p>
        <p><strong>Location:</strong> {{ listing.location }}</p>
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="{{ listing.item_name }}">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
