{% extends "base.html" %}

{% block content %}
<h2>Take Quiz: {{ quiz.name }}</h2>
<form method="post">
    {% for question in questions %}
        <fieldset>
            <legend>{{ question.text }}</legend>
            {% for option in question.options.split(',') %}
                <label>
                    <input type="radio" name="question_{{ question.id }}" value="{{ option }}">
                    {{ option }}
                </label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock %}
